@media screen and (max-width: 400px) {
  header,
  main { width: 327px; }

  header { padding: 24px 24px 0 24px; }
  
  main { padding: 0 24px 24px 24px; }

  a { width: 279px; }
}

@media screen and (max-width: 340px) {
  header,
  main { width: 100%; }

  header { padding: 24px 24px 0 24px; }
  
  main { padding: 0 24px 24px 24px; }

  a { width: 100%; }
}